/* regole generali */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}


a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.rientro{
  padding-left: 10%;
  padding-right: 10%;
}

/* Header */

header a{
  color: #b5b6b7;
}

header a:hover {
  color: #191c1f;
}

/* Header top */

#header-top{
  display: flex;
  justify-content: space-between;
  line-height: 40px; /* altezza fissa */
  background-color: #f3f4f5;
}

#header-top ul:first-child li:first-child a{ /* il primo link "personale" ha un colore diverso */
  color: #191c1f;
}

#header-top ul li {
  display: inline-block;
  padding: 10px;
}

/* barra di navigazione principale */

#header-main-nav{
  display: flex;
  height: 50px; /* altezza fissa. con line-height 50px centro i link in verticale */
  margin: 40px 0 10px;
}

#header-main-nav .logo-wrapper{
  display: flex;
  align-items: center; /* centratura del logo in vertical */
  width: 12%;
  padding-left: 0px 10px;
}

#header-main-nav .logo-wrapper img{
  width: 100%;
}

#header-main-nav .links-wrapper{
  width: 78%;
  padding: 0 10%;
}

#header-main-nav .links-wrapper>ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header-main-nav .links-wrapper>ul li{
  line-height: 50px; /* altezza del li facilita l'hover e centra i link in verticale */
  padding: 0 20px;
}

#header-main-nav .button-wrapper{
  width: 20%;
  padding-right: 10px;
  text-align: right;
}

.button{
  display: inline-block;
  padding: 12px 18px;
  border-radius: 12px;
  font-weight: bold;
  background-color: black;
  color: #fff;
}

/* dropdowns */

.main-dropdown{
  position: relative;
}

.main-dropdown-content{
  display: none;
  position: absolute;
  white-space: nowrap;
  /* proprietà magica che non fa andare a capo quindi il dropdown-content prende la width a seconda del contenuto. altrimenti prende la width dall'elemento li che lo contiente e manda tutti i li del dropdown-content a capo. si portebbe anche dare una width fissa ma così è più elegante */
  top: 45px;
  left: 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow:  0px 0px 15px 2px rgba(0, 0, 0, 0.15);
}

#header-main-nav .main-dropdown-content > ul > li{
  padding: 15px 10px;
  line-height: normal;
}

.inactive:hover a{
  cursor: default;
  color: #b5b6b7;
}
