/* REGOLE GENERALI */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #b5b6b7;
}

h1{
  margin: 15px 0;
  color: #000;
  font-weight: 800;
  font-size: 70px;
}

a{
  text-decoration: none;
  color: #b5b6b7;
}

a:hover {
  color: #191c1f;
}

ul{
  list-style: none;
}

.rientro{
  padding-left: 10%;
  padding-right: 10%;
}

/* buttons */

.button{
  display: inline-block;
  padding: 12px 18px;
  border-radius: 12px;
  font-weight: bold;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.button:hover{
  opacity: .8;
}

.button a{
  color: #fff;
}

.button a:hover{
  color: #fff;
}

/* HEADER */


/* HEADER TOP */

#header-top{
  display: flex;
  justify-content: space-between;
  line-height: 40px; /* altezza fissa */
  background-color: #f3f4f5;
}

.top-links-right li:first-child a{ /* il primo link "personale" ha un colore diverso */
  color: #191c1f;
}

#header-top ul li {
  display: inline-block;
  padding: 10px;
}

/* HEADER NAV - BARRA DI NAVIGAZIONE PRINCIPALE */

/* classe di appoggio inserita con js allo scroll */
#header-main-nav.scroll-fixed{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow:  0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 900;
  padding-top: 10px;
}
#header-main-nav{
  display: flex;
  padding: 40px 0 10px;
  background-color: #fff;
}

#header-main-nav .logo-wrapper{
  display: flex;
  align-items: center; /* centratura del logo in vertical */
  width: 12%;
  padding-left: 10px;
}

#header-main-nav .logo-wrapper img{
  width: 100%;
}

#header-main-nav .links-wrapper{
  width: 78%;
  padding: 0 10%;
}

#header-main-nav .links-wrapper>ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header-main-nav .links-wrapper>ul li{
  line-height: 50px; /* altezza del li facilita l'hover e centra i link in verticale */
  padding: 0 20px;
}

#header-main-nav .button-wrapper{
  width: 20%;
  padding-right: 10px;
  text-align: right;
}

/* dropdowns */

.main-dropdown{
  position: relative;
}

.main-dropdown-content{
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  white-space: nowrap;
  /* proprietà magica che non fa andare a capo quindi il dropdown-content prende la width a seconda del contenuto. altrimenti prende la width dall'elemento li che lo contiente e manda tutti i li del dropdown-content a capo. si portebbe anche dare una width fissa ma così è più elegante */
  top: 45px;
  left: 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow:  0px 0px 15px 2px rgba(0, 0, 0, 0.15);
}

#header-main-nav .main-dropdown-content > ul > li{
  padding: 15px 10px;
  line-height: normal;
}

.inactive:hover a{
  cursor: default;
  color: #b5b6b7;
}

/* JUMBOTRON */

#jumbotron{
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 20px;
}

#jumbotron>div{
  width: 50%;
}

/* jumbotron left */

#jumbotron .jumbo-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 18px;
}

/* miniform */

#jumbotron .miniform{
  position: relative;
  padding: 30px 0 20px;
}

#jumbotron .miniform input[name="prefisso"]{
  width: 8%;
}

#jumbotron .miniform [name="numerocel"]{
  width: 35%;
  margin-right: 20px;
}

#jumbotron input{
  border: none;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  border-bottom: 1px solid  #b5b6b7;
}

#jumbotron input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b5b6b7;
  opacity: 1; /* Firefox */
}

#jumbotron input::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

#jumbotron input:focus{
  outline: none; /* toglie il bordo evidenziato quando c'è il focus sull'input (ci stai scrivendo dentro) */
}


#jumbotron .miniform .button{
  padding: 10px 30px;
  background-color: #47494c;
  color: #77797a;
  cursor: not-allowed;
}

#jumbotron .miniform label[for="numerocel"]{
  display: none;
  position: absolute;
  left: 9%;
  top: 20px;
  font-size: 15px;
  color: blue;
}

/* ultimo div del jumbo text */

#jumbotron .jumbo-text>div:last-child{
  color: #000;
  font-size: 15px;
}

#jumbotron .jumbo-text>div:last-child i{
  margin-right: 10px;
}

/* jumbotron right */

#jumbotron>div:last-child{
  text-align: center;
}

#jumbotron>div:last-child img{
  width: 70%;
  vertical-align: middle;
}

/* FOOTER XS */

#footer-xs{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 65px;
  width: 100%;
  z-index: 999;
  text-align: center;
  background-color: #fff;
}

#footer-xs hr{
  border: 4px solid #f3f4f5;
  border-radius: 5px;
}

#footer-xs .button{
  margin-top: 7px;
}

/* ---------------  HAMBURGER MENU XS --------------------- */

#hamburger-menu{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 65px);
  overflow-y: auto;
  background-color: #fff;
  z-index: 900;
}

#hamburger-top-bar{
  display: flex;
  justify-content: space-between;
  background-color: #f3f4f5;
}

#hamburger-top-bar, .hamburger-links-wrapper{
  padding: 10px;
}

#hamburger-top-bar ul li{
  display: inline-block;
  padding: 10px;
}

#hamburger-top-bar i{
  font-size: 20px;
  padding: 10px;
}

.hamburger-links{
  padding: 10px;
}

.hamburger-links .links-title{
  display: flex;
  justify-content: space-between;
}

.hamburger-links>ul{
  display: none;
  padding: 10px 0;
}

.hamburger-links>ul li{
  padding: 10px 0;
}

/* classe assegnata con js a menu aperti */
.text-black{
  color: #000;
}

@media all and (max-width: 1400px) {

  .rientro{
    padding: 0 10px;
  }

  #header-main-nav .links-wrapper{
    padding: 0 10px;
  }

}

@media all and (min-width: 851px){
  .hide-lg{
    display: none;
  }
}

@media all and (max-width: 850px) {

  .hide-xs{
    display: none;
  }

  #header-top{
    display: none;
  }

  /* HEADER NAV PRINCIPALE */

  #header-main-nav{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow:  0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 900;
    padding-top: 10px;
    padding-right: 10px;
  }

  #header-main-nav .logo-wrapper{
    width: 50%;
  }

  #header-main-nav .logo-wrapper img{
    width: 35%;
    min-width: 100px;
  }

  #header-main-nav .button-wrapper{
    width: 50%;
    line-height: 50px;
    padding-right: 0;
    text-align: right;
    color: #000;
  }


  /* JUMBOTRON */
  #jumbotron{
    padding-top: 85px;
    margin-bottom: 65px;
  }

  #jumbotron>div{
    width: 100%;
    padding: 8px 10%;
    text-align: center;
  }

  h1{
    font-size: 50px;
  }

  #jumbotron .jumbo-text {
    font-size: 15px;
  }

  #jumbotron input{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }

  #jumbotron .miniform input[name="numerocel"]{
    margin-right: 10px;
    width: 45%;
  }

  #jumbotron .miniform .button{
    padding: 8px 20px;
  }

  #jumbotron .jumbo-text>div:last-child{
    font-size: 10px;
  }

}
